<div class="background">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <section class="wrapper">
      <div class="login">
        <div class="login-head">
          <div class="ribbon"></div>
          <div class="logo">
            <a class="site-name">
              <img src="../../../assets/logo.png" alt="logo" />
            </a>
            <span class="site-description">People Innovation Excellence </span>
          </div>
        </div>
        <div class="login-body">
          <a routerLink="login" class="button">Login</a>
        </div>
      </div>
    </section>
  </div>
</div>
